<div class="container">
  <div class="content">
    <div class="feature_list">
      <h3>Features</h3>
      <ul>
        <li>Akkulaufzeit: Der Akku hält bis zu 14 Tage im Smartwatchmodus und bis zu 30 Stunden mit GPS</li>
        <li>Wettkampfstrategie: Plane deine Pace für Rennen</li>
        <li>Tägliche Trainingsempfehlung: Die Uhr schlägt sinnvolle Workouts für dich vor</li>
        <li>Garmin Pay: Bezahle auch unterwegs</li>
        <li>Sleep Tracking: Misst die Dauer und Qualität deines Schlafs</li>
        <li>Musik: Mit der Musik Version überall und jederzeit Musik hören</li>
        <li>Garmin Coach: Erhalte einen auf die zugeschnittenen Trainingsplan</li>
        <li>Trainingszustand: Erhalte Informationen wie sich deine Fitness entwickelt</li>
      </ul>
    </div>
    <div class="images">
      <img src="assets/images/feature_1.png" alt="feature 1">
      <img src="assets/images/feature_2.png" alt="feature 2">
      <img src="assets/images/feature_3.png" alt="feature 3">
      <img src="assets/images/feature_4.png" alt="feature 4">
    </div>
  </div>
