<div class="technische_daten_container">
  <div class="technische_daten">
    <h3>Technische Daten</h3>
    <p>Sport- & Freizeitfunktionen: <br>
      Bergsteigen, Fitnessfunktionen, Laufen, Radfahren, Schwimmen, Trailrunning, Wandern</p>
    <p>Satellitennavigationssystemtyp:<br>
      Galileo, GLONASS, GPS</p>
    <p>Betriebssystem Kompatibilität:<br>
      Android, iOS</p>
    <p>Laufzeit (ohne GPS-Modus):<br>
      14 Tage</p>
    <p>Laufzeit (im GPS-Modus):<br>
      30 Stunden</p>
    <p>Armbandbreite: 22 mm</p>
    <p>Bildschirmgrösse: 1.30"</p>
    <p>Durchmesser: 45.60 mm</p>
    <p>Gewicht: 216g</p>
  </div>
</div>
