.technische_daten {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 120px;
}

.technische_daten_container {
  margin-top: 80px;
  width: 100%;
  display: flex;
}
