<div class="container">
  <div class="content">
    <h3>Die neue Garmin Forerunner 255 Music - Jetzt erhältlich!</h3>
    <p>Die Forerunner 255 punktet mit ihrem leichten Gewicht und den umfangreichen Features. <br>
      Egal in welcher Situation, die Forerunner bietet ein passendes Feature.</p>
    <img src="assets/images/forerunner_white.png" alt="forerunner" id="forerunner-picture">
    <video controls id="ad-video">
      <source src="assets/video/M152_LB3_IA20a_Surber_Fabian.mp4" type="video/mp4">
      <source src="assets/video/M152_LB3_IA20a_Surber_Fabian.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
